@use "../abstracts" as *;

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translate(-15rem);
  }

  80% {
    transform: translate(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
